body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
  overflow-x: hidden;
  -webkit-app-region: drag;
}

.rst__nodeContent {


}
.rst__moveHandle {
  height: 1.8em !important;
  width:1.6em;
  /*background-color:white;*/
  /*background-image:url("updownarr.jpg") !important;*/
}
.rst__rowContents {
  height: 1.8em !important;
}
.rst__rowLabel {
  margin: 0 auto;
}
.rst__rowToolbar {

}

.rst__rowCancelPad::before,.rst__rowLandingPad::before {
    height:1.8em !important;
    background-color:gray;
}

.rst__lineChildren::after {
  height:30px !important;
}


#RP {
  font-family: arial;
  font-size: 1em;
  padding:1.4em;
  margin-top:0px;
  text-align: center;
  background-color: #6D7984;
  }

.flex-container {
display: flex;
flex-direction: row;
flex-wrap:nowrap;
justify-content: flex-start;
height: 100vh;
}

.inputBox {
/*border: 2px solid black;*/
background-color: #4C5259;
align-items:center stretch;
flex:1.3;
height: 100vh;
}

.tree {
margin-top: 2.2em;
background-color:white;
  /*border: 2px solid black;*/
flex: 3;
color:#4C5259;
-webkit-app-region: no-drag;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size:1em;
  color:#D9D9D9;
}

.form {
  font-size: .8em;
  display: flex;
  flex-direction: column;
  margin: 1em;
  color:#D9D9D9;
  -webkit-app-region: no-drag;
}


.export {
  background-color: lightgreen;
  border-radius: 4px;
  border:none;
}

.deleteButton {
  background:none;
  border:none;
  font-weight:bold;
  cursor: pointer;
}
